@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Orelega One', cursive;
    background-image: url(./image/backgoud.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    
}


header {
    font-size: 1.2rem;
}

header, main {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}